body {
    width: 1200px;
    margin: 0 auto;
    background-color: #eaedf1;
    padding: 0 20px 20px 20px;
    border: 0px solid black;
  }
#header {
    background-color:rgb(43, 50, 70);
    color:rgb(174, 187, 182);
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#ffffff;
    height:100%;
    width:220px;
    float:left;
    padding:5px;	      
}
#section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:rgb(43, 50, 70);
    margin:0;
    color:white;
    clear:both;
    text-align:center;
padding:5px;	 	 
}